In [2]:
import pandas as pd

In [19]:
weak=pd.read_csv('weak_stop.csv', encoding='EUC-KR')
print("weak",weak.head(3))
xy=pd.read_csv('stop_xy2.csv', encoding='EUC-KR')
xy1=xy.columns = ['정류장명','X','Y']
print("xy",xy.head(3))

weak    Unnamed: 0  정류장명  x_count  y_count
0         127  양전마을       12       12
1         128  황제식품       12       12
2         144  지암입구       12       12
xy       정류장명           X          Y
0      BYC  127.007970  35.820713
1      BYC  127.007781  35.820431
2  CTS전북방송  127.146407  35.819997

In [27]:
xy.to_csv("xy.csv",encoding='utf-8')

0            BYC
2        CTS전북방송
3        JTV전주방송
5        KT북전주지점
7         KT정보센터
          ...
2644    흑석대승푸른맨션
2646     흑석송원아파트
2648        흥국생명
2649        흥국화재
2650    힐스테이트효자동
Name: 정류장명, Length: 1390, dtype: object

In [28]:
xyweak=pd.merge(xy,weak)
print("xyweak",xyweak.head(3))

xyweak       정류장명  Unnamed: 0  x_count  y_count
0     갈동마을         389        2        2
1       갈전         384        3        3
2  고려온천아파트         493        2        2

In [29]:
xyweak.to_csv("weak_xy.csv",encoding="utf-8")