# 8. 고령 인구 비율

In [114]:
import pandas as pd
from pandas import DataFrame
import numbers
import numpy as np

In [115]:
df=pd.read_csv("population_dong.csv", encoding='utf-8')

In [116]:
# 뒤죽박죽 엑셀 데이터 정렬 과정
total=df.loc[::2,:]

In [117]:
total=total['변수2']

In [118]:
total=pd.DataFrame(total)
total.columns=['total_population']

In [ ]:
type(total)
total

In [120]:
senior=df.loc[1::2,:]

In [121]:
senior=senior['변수2']

In [122]:
senior=pd.DataFrame(senior)
senior.columns=['senior_population']

In [123]:
dong=df.loc[1::2,:]
dong=dong['동']

dong=pd.DataFrame(dong)
dong.columns=['dong']

In [124]:
# index 삭제
total=total.reset_index(drop=True)
senior=senior.reset_index(drop=True)
dong=dong.reset_index(drop=True)

In [125]:
# 동별 인구, 노인인구
population=pd.concat([dong, total, senior], axis=1)
population

    dong  total_population  senior_population
0   전라북도           1808044             380425
1    중앙동              7767               2126
2    풍남동              4341               1490
3    노송동             12771               3505
4    완산동              5026               1510
5   동서학동              6569               1832
6   서서학동              8892               2309
7   중화산동             34490               4614
8    서신동             40032               4650
9    평화동             58494              10023
10   삼천동             48345               7896
11   효자동            112590              12747
12   진북동             14612               4098
13   인후동             62268               9658
14   덕진동             20098               2870
15   금암동             17716               3927
16   팔복동              7851               1921
17   우아동             24632               4005
18   호성동             20806               3146
19   송천동             87740               7831
20   조촌동             12390               2255
21   여의동             30611               3158
22   혁신동             17743                827

In [126]:
# 노인인구 비율
population['aged_population_ratio']=population['senior_population']/population['total_population']

In [127]:
population

    dong  total_population  senior_population  aged_population_ratio
0   전라북도           1808044             380425               0.210407
1    중앙동              7767               2126               0.273722
2    풍남동              4341               1490               0.343239
3    노송동             12771               3505               0.274450
4    완산동              5026               1510               0.300438
5   동서학동              6569               1832               0.278886
6   서서학동              8892               2309               0.259672
7   중화산동             34490               4614               0.133778
8    서신동             40032               4650               0.116157
9    평화동             58494              10023               0.171351
10   삼천동             48345               7896               0.163326
11   효자동            112590              12747               0.113216
12   진북동             14612               4098               0.280454
13   인후동             62268               9658               0.155104
14   덕진동             20098               2870               0.142800
15   금암동             17716               3927               0.221664
16   팔복동              7851               1921               0.244682
17   우아동             24632               4005               0.162593
18   호성동             20806               3146               0.151206
19   송천동             87740               7831               0.089252
20   조촌동             12390               2255               0.182002
21   여의동             30611               3158               0.103166
22   혁신동             17743                827               0.046610

In [129]:
population.to_csv("senior_population_dong.csv", encoding='euc-kr') # csv 저장