## 2. 배차시간 180분 이상 버스만 지나는 정류장 추출

In [2]:
import pandas as pd
import numpy as np

In [3]:
stop=pd.read_csv('../전처리/stop-xy.csv', encoding='utf-8')
print("stop:\n", stop.head(3))
route=pd.read_csv('../전처리/newroute_180.csv', encoding='utf-8')
print("route:\n", route.head(3))

stop:
    노선번호  노선순번     정류장명        LAT         LNG
0  1000     4  호성동신아파트  35.858156  127.155229
1  1000     3     호성주공  35.858132  127.153398
2  1000    28     호성주공  35.857849  127.151955
route:
     노선   편도운행
0  109  450.0
1   12  180.0
2  131  180.0

In [4]:
y=pd.DataFrame(stop["정류장명"].value_counts())

In [5]:
y

               정류장명
전동성당.한옥마을       208
남부시장            191
기린대로덕진공원        159
전주교도소           132
주공4단지.꽃밭정이아파트   128
...             ...
오성풍류학교            1
백제대로효자광장          1
연탄공장              1
팔복예술공장.연탄공장       1
호성유원아파트           1

[1233 rows x 1 columns]

In [6]:
y=pd.DataFrame(stop["정류장명"].value_counts())
y.reset_index(inplace=True)
print(y.head(2))
print(y["정류장명"].head(3))
#print(y.head(2))
#print(y['정류장명'].head(3))

       index  정류장명
0  전동성당.한옥마을   208
1       남부시장   191
0    208
1    191
2    159
Name: 정류장명, dtype: int64

In [7]:
stop["노선번호"]

0        1000
1        1000
2        1000
3        1000
4        1000
         ...
17297       6
17298       6
17299       6
17300       6
17301       6
Name: 노선번호, Length: 17302, dtype: int64

In [8]:
route.rename(columns = {'노선' : '노선번호'}, inplace = True)

In [9]:
route.head(3)

   노선번호   편도운행
0   109  450.0
1    12  180.0
2   131  180.0

In [10]:
merge_df=pd.merge(route, stop, how='left')
print(type(merge_df))
merge_df
#print(len(merge_df))
#print(list(merge_df))

<class 'pandas.core.frame.DataFrame'>

      노선번호   편도운행  노선순번    정류장명        LAT         LNG
0      109  450.0   1.0     하이리  35.859449  127.172589
1      109  450.0  50.0     하이리  35.859426  127.172674
2      109  450.0   2.0    하이리교  35.855092  127.173352
3      109  450.0  49.0    하이리교  35.855016  127.173583
4      109  450.0   3.0     동적골  35.753015  127.125081
...    ...    ...   ...     ...        ...         ...
5339   978  225.0  20.0  모악호수마을  35.728001  127.120025
5340   978  225.0  21.0   왕벚꽃마을  35.737363  127.120816
5341   978  225.0  23.0   왕벚꽃마을  35.737363  127.120816
5342   978  225.0  41.0   왕벚꽃마을  35.737317  127.120672
5343   978  225.0   2.0    메가월드  35.869810  127.112454

[5344 rows x 6 columns]

In [11]:
x=pd.DataFrame(merge_df['정류장명'].value_counts())
x.reset_index(inplace=True)
print(x.head(2))

       index  정류장명
0  전동성당.한옥마을    74
1       남부시장    68

In [12]:
print(list(y))
print(y['index'].head(3))
print(len(x)); print(len(y))

['index', '정류장명']
0    전동성당.한옥마을
1         남부시장
2     기린대로덕진공원
Name: index, dtype: object
686
1233

In [13]:

x=x.rename({'index':'정류장명', '정류장명':'x_count'}, axis='columns')
print(x.head(3))
y=y.rename({'index':'정류장명', '정류장명':'y_count'}, axis='columns')
print(y.head(3))

         정류장명  x_count
0   전동성당.한옥마을       74
1        남부시장       68
2  전주생명과학고등학교       52
        정류장명  y_count
0  전동성당.한옥마을      208
1       남부시장      191
2   기린대로덕진공원      159

In [14]:
merge_xy=pd.merge(x, y, how='left')
print(merge_xy.head(3))

         정류장명  x_count  y_count
0   전동성당.한옥마을       74      208
1        남부시장       68      191
2  전주생명과학고등학교       52       93

In [15]:
result=pd.DataFrame(merge_xy[merge_xy['x_count']==merge_xy['y_count']])

In [16]:
result=result['정류장명']

In [17]:
result.to_csv("../전처리/weak_stop_1.csv",encoding="utf-8")